{% extends "base.html"%}

{% block title%} <title>{{form.instance.title}} | Restaurants </title> {% endblock %}
{% block content%}

	<h1> {{ form.instance.name }} <small>{{form.instance.category}}</h1>
	<p>{{ form.instance.location }}</p>
	<p>{{ form.instance.timestamp}}, {{ form.instance.updated|timesince}} ago </p>

	<hr/>
	<div class="row">
	<h3>Make Changes </h3>
		<form method="post" >{% csrf_token %}
			{% include 'snippets/form-snippet.html' %}
			<div class="form-group">
				<button type="submit" class="btn btn-success">Save</button>
			</div>
		</form>
	</div>
	
{% endblock%}