{% extends "base.html"%}

{% block title%} <title>Restaurants Detail </title> {% endblock %}
{% block content%}
<div class="container">
	<h1> {{ object.name }} <small>{{object.category}}</h1>
	<p><strong>{{ object.location }}</strong></p>
	<p>Last Updated info:{{ object.timestamp}}, {{ object.updated|timesince }} ago </p>


		<details>
		  <summary><h4>Details:</h4></summary>
		  <p> {{object.description}}</p>
		</details>

	<strong>Foods at {{ object.name }}</strong>
		{% for obj in object.item_set.all %}
			<li><a href="{% url 'menus:details' obj.pk %}" >{{ obj.name }}</a></li>
		{% empty %}
			<small>No food dishes available yet!</small>
		{% endfor %}
		<ul class="list-group">
			
			<li class="list-group-item justify-content-between">
					Car Parking
			  <span class="badge badge-default badge-pill">{{object.restauranthighlights_set.get.car_parking}}</span>
			</li>
			<li class="list-group-item justify-content-between">
					Home delivery
			  <span class="badge badge-default badge-pill">{{object.restauranthighlights_set.get.home_delivery}}</span>
			</li>
			<li class="list-group-item justify-content-between">
					Take away
			  <span class="badge badge-default badge-pill">{{object.restauranthighlights_set.get.take_away}}</span>
			</li>
			<li class="list-group-item justify-content-between">
					Cards
			  <span class="badge badge-default badge-pill">{{object.restauranthighlights_set.get.cards}}</span>
			</li>
			<li class="list-group-item justify-content-between">
					AC
			  <span class="badge badge-default badge-pill">{{object.restauranthighlights_set.get.ac}}</span>
			</li>
		</ul>
		

</div>
{% endblock%}