{% extends "base.html"%}

{% block title%} <title>Restaurants List </title> {% endblock %}
{% block content%}

	<div class="row">
	<div class="container">
	 <h1>Restaurants and Food Spots</h1>
		<form class="form-inline my-2 my-lg-0" method="GET" action=".">{% csrf_token %}
		  <div class="form-group">
		    <label for="restaurants"></label>
		    <input type="text" class="form-control mr-sm-2" name="q" placeholder="Search Restaurants">
		  </div>
			{{ form }}
		  <button type="submit" class="btn btn-success">Filter</button>
		</form> 
			{% for obj in object_list %}
			<div class="card item-list">
					<div class="card-block">
						<h4 class="card-title"><a href="{% url 'restaurants:details' obj.slug %}" >{{ obj.name }}</a></h4>
						<h6 class="card-subtitle mb-2 text-muted">{{ obj.location }},{{ obj.city.city_name }}</h6>
						<p class="card-text">Cuisine:{{ obj.category }}
								<small>Last Updated: {{ obj.updated }}</small>
						</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a>
					</div>
			</div>
			{% empty%}
		{% endfor %}

		{% include 'snippets/pagination.html' %}
	</div>
	</div>
{% endblock%}