{% extends "base.html" %}

{% block content %}

<div class="container ">
	<div class="col-sm-6 border-dark">
		<h2>Register here</h2>

		<form method="post" action="{% url 'register' %}" id="registerForm">{% csrf_token %}
			{% include 'snippets/form-snippet.html' %}
			<input class="btn btn-success my-2 my-sm-0" type="submit" value="Register" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>

		<div class="form-group text-muted text-center">
		    Already have an account? <a href="{% url 'login' %}">Log in</a>
		</div>
	</div>
</div>


{% endblock %}