{% extends "base.html"%}

{% block title%} <title>{{user.username}} </title> {% endblock %}
{% block content%}
	<h1>{{ user.username }}</h1>
	<p>{% include 'profiles/snippet/follow_form.html' with username=user.username is_following=is_following %} </p>
	<form class="form" method="GET" action=".">
		<div class="form-group col-sm-2">
			<input type="text" name="q" placeholder="Search.." value="{{ request.GET.q }}" class="form-control">
			</div>
			<button class="btn btn-success" type="submit">Search</button>
		
	</form>
	<hr/>
	
	{% if locations %}
	{% for rest in locations %}
	<div class="row">
		<div class="col-sm-8"> 
		<div class="thumbnail">
			<h4><strong>{{ rest.title }}</strong> </h4>
			<p><a href="{{ request.path}}?q={{ rest.location}}">{{ rest.location}}</a> | <a href="{{request.path}}?q={{ rest.category}}">{{ rest.category}}</a></p>
		<p>
			<ul>
				{% for item in rest.item_set.all %}
					<li style="margin-bottom:15px;">
					<strong>{{item.name }}</strong><br/>
						{{ item.contents}}
						{% for ing in item.get_contents %}
							<a href="{{ request.path}}?q={{ ing}}">{{ ing}}</a>
						{% endfor %}
					</li>

				{% endfor%}
				
			</ul>
		</p>
	</div>
	</div>
	</div>
	{% endfor %}
	{% else %}
		<p class="lead">No Items Found</p>
	{% endif %}

{% endblock%}