{% extends "base.html"%}

{% block title%} <title>Menu Items </title> {% endblock %}
{% block content%}

	<h1> Menu Items <small><a href="{% url 'menus:create' %}">Add</small></h1>
	<ul>
		{% for obj in object_list %}
			<li><a href="{{obj.get_absolute_url}}">{{ obj.name }}</a> 
			</br>
				{% if obj.contents %}
					Contents
					<ul>
						{% for item in obj.get_contents %}
							<li> {{ item }} </li>
						{% endfor %}

					</ul>
				{% endif %}
				</br>
				{% if obj.excludes %}
					Excludes
					<ul>
						{% for item in obj.get_excludes %}
							<li> {{ item }} </li>
						{% endfor %}

					</ul>
				{% endif %}
			</li>
		{% empty %}
			<li><small><a href="{% url 'menus:create' %}">Add Menu Items</small></li>
		{% endfor %}
	</ul>

	{% include 'snippets/pagination.html' %}
{% endblock%}