{% extends "base.html"%}

{% block title%} <title>Menu Items </title> {% endblock %}
{% block content%}
	
	<div class="row">
	<div class="container">
	<h1> Food Dishes </h1>
	<form class="form-inline my-2 my-lg-0" method="GET" action=".">{% csrf_token %}
		  <div class="form-group">
		    <label for="menus"></label>
		    <input type="text" class="form-control mr-sm-2" name="q" placeholder="Search food dishes...">
		  </div>
		  <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
	</form>

	{% for obj in object_list %}
	<div class="card item-list">
			<div class="card-block">
				<h4 class="card-title"><a href="{% url 'menus:details' obj.pk %}" >{{ obj.name }}</a></h4>
				<h6 class="card-subtitle mb-2 text-muted">{{obj.item_category}}</h6>
				<p class="card-text">Restaurant:<a href="{% url 'restaurants:details' obj.restaurant.slug %}">{{obj.restaurant.name}}</a>
						
				</p>
				<p>
					<li>Course:{{obj.course}}</li>
					<li>Price:Rs.{{ obj.price }}</li>
				</p>
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
	</div>
	{% empty%}
{% endfor %}

{% include 'snippets/pagination.html' %}
	
	</div>
	</div>
{% endblock%}