{% extends "base.html"%}

{% block title%} <title>Item Detail </title> {% endblock %}
{% block content%}
<div class="container">
	<h2> {{ object.name }}</h2>
	<p>
	<strong>
		<ul>
		<li>Location : <a href="{% url 'restaurants:details' object.restaurant.slug %}">{{ object.restaurant }}</a></li>
		<li>Category: {{object.item_category}}</li>
		<li>Course: {{object.course}}</li>
		<li>Price: Rs.{{object.price}}</li>
		<li>Last Updated: {{ object.updated }}</li>
		</ul>
	</strong>
	</p>
	</br>
	{% if object.contents %}
		<strong>Contents</strong>
			<ul>
				{% for item in object.get_contents %}
					<li> {{ item }} </li>
				{% endfor %}

			</ul>
		{% endif %}

		{% if object.excludes %}
			Excludes
			<ul>
				{% for item in object.get_excludes %}
					<li> {{ item }} </li>
				{% endfor %}

			</ul>
	{% endif %}

</div>	
{% endblock%}