{% load static %}
{% load staticfiles %}  
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Home Page</title>{% endblock %}
    {% block stylesheets %}
        {% include 'snippets/css.html'%}

    {% endblock %}
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60"> 
        {% include 'snippets/nav.html' %}
<div id="about" class="container-fluid">
  
        {% block content%}
        
        {% endblock%}

</div>
    {% block javascript %}
        {% include 'snippets/js.html'%}
    {% endblock %}


</body>

</html>