{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Home Page</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block styles %}
        {% include 'snippets/css.html'%}
    {% endblock %}
</head>
<body> 
{% include 'snippets/nav.html' %}
        {% block content%}

        {% endblock%}
        {% include 'snippets/footer.html' %}
    {% block javascript %}
        {% include 'snippets/js.html'%}
    {% endblock %}
</body>
</html>