{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Home Page</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block styles %}
        {% include 'snippets/css.html'%}
    {% endblock %}
</head>
<body> 
{% block body %}
    {% include 'snippets/nav.html' %}
        <div class="container">
          <ol class="breadcrumb my-4">
            {% block breadcrumb %}
            {% endblock %}
          </ol>
          {% block content %}
          {% endblock %}
        </div>
    {% include 'snippets/footer.html' %}
    
    {% block javascript %}
        {% include 'snippets/js.html'%}
    {% endblock %}


{% endblock body %}
<script type="text/javascript">
$(document).ready(function(){
    $(".comment-reply").hide();
    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    })


    // preview-title
    // preview-content

});

</script>

</body>
</html>