{% extends 'base.html' %}
{% block title%} <title>Contact </title>{% endblock%}
{% block content%}

<div id="contact" class="container-fluid bg-grey">
  <h1 class="text-center">Contact Us</h1>
  <div class="row">
    <div class="col-sm-5">
      <p id="p1">Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Pune, IN</p>
      <p><span class="glyphicon glyphicon-phone"></span> </p>
      <p><span class="glyphicon glyphicon-envelope"></span> </p>
    </div>

    <div class="col-sm-7">
      
      <form method="POST" id="contactForm">{% csrf_token %}
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>

        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="col-sm-12 form-group">
        	<input class="form-control" id="subject" name="subject" placeholder="Subject" type="text" required>
        </div>
        <div class="form-group" id="message">
        </div>
      </div>
      
      
     
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-info pull-right" type="submit">Send</button>
        </div>
      </div>
      </form>
    </div>

  </div>
</div>
{% endblock%}