
{% extends 'base.html' %}
 
{% block content %}

<div class="container">
{% if locations %}
	{% for rest in locations %}
		<div class="row">
			<div class="col-sm-8"> 
				<div class="thumbnail">
					<h4><strong>{{ rest.title }}</strong> </h4>
					<p><a href="{{ request.path}}?q={{ rest.location}}">{{ rest.location}}</a> | <a href="{{request.path}}?q={{ rest.category}}">{{ rest.category}}</a></p>
				</div>
			</div>
		</div>
	{% endfor %}
	{% include 'snippets/pagination.html' %}
{% else %}
		
{% endif %}
</div>
{% endblock%}
